<template>
  <div class="about">
   <img src="../assets/img/logo.png" alt="">
  </div>
</template>

<style>
@media (min-width: 1024px) {
  .about {
    min-height: 100vh;
    display: flex;
    align-items: center;
  }
}
</style>
