<template>
<div class="about pt-5 pb-5 container">
    <h1>Tus favoritos</h1>
    <div class="pt-5 row text-center">
      <div class="col-sm-6" v-for="(pokemon,index) in favorites" :key="index">
        <div class="input-wrapper">
            <label for="first">{{pokemon.name}}</label>
            <div class="list-pokemon">
              <img :src="pokemon.sprites.front_default" alt="">
            </div>
        </div>
      </div>
    
    </div>
   
</div>
</template>
<script setup>
import { computed } from 'vue';
import { useStore } from 'vuex';
const store = useStore()
    
const favorites = computed(() => store.state.favorites)

</script>
<style>
@media (min-width: 1024px) {
  .about {
    min-height: 100vh;
    align-items: center;
  }
}
</style>
