<script setup>
import TheWelcome from '../components/TheWelcome.vue'
</script>

<template>
  <main class="about">
    <div class="text-center"> 
      <img class="img-index" src="../assets/img/logo.png" alt="">
    </div>
  </main>
</template>

<style>
.img-index{
  max-width: 400px;
}
@media (min-width: 1024px) {
  .about {
    min-height: 100vh;
    align-items: center;
  }
}
</style>

