<template>
<div class="about pt-5 pb-5 container">
  <div v-if="loading">LOADING...</div>
    <div class="input-wrapper">
        <label for="first">Lista de pokemones</label>
        <div class="list-pokemon">
            <div class="row">
                <div class="col-6" v-for="(pokemon,index) in pokemones_list_one" :key="index">
                     <ul>
                        <li class="d-flex justify-content-between align-items-center">
                            {{pokemon.name}}
                            <span><button class="btn btn-info">Info</button></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div>
        <button type="button" class="btn btn-outline-secondary m-2" @click="prevPokemon">Anterior</button>
        <button type="button" class="btn btn-outline-secondary m-2" @click="nextPokemon">Siguiente</button>
    </div>
    <div class="pt-5">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Favorito</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Alto</th>
                    <th scope="col">Ancho</th>
                    <th scope="col">Imagen</th>
                    <th scope="col">Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(item,index) in pokemones_list_two" :key="index" v-show="deleted.indexOf(item.pokemon.id)==-1">
                    <th><button class="btn" :class="verifyFavorite(item.pokemon)?'disabled btn-warning':'btn-info text-white'" @click="addFavorite(item.pokemon)">
                    {{verifyFavorite(item.pokemon)?'Favorito':'Agregar'}}    
                    </button></th>
                    <td>{{item.name}}</td>
                    <td>{{item.pokemon.height}}</td>
                    <td>{{item.pokemon.weight}}</td>
                    <td>
                        <img class="img-favorites" :src="item.pokemon.sprites.front_default" alt="" >
                    </td>
                    <td><a @click="deletedPokemon(item)"><i class="fa-solid fa-trash-can text"></i></a></td>
                </tr>
            </tbody>

        </table>
        <div class="row">
            <div class="col-11">
                <b-pagination
                    class="pagination justify-content-end"
                    v-model="currentPage"
                    :total-rows="total"
                    :per-page="perPage"
                    aria-controls="my-table"
                />
            </div>
            <div class="col-1">
                <b-form-select @change="pagFilter($event)" :options="[
                    { value: null, text: 'Please select an option' },
                    { value: 5, text: '5' },
                    { value: 10, text: '10' },
                    { value: 15, text: '15' },
                    { value: 20, text: '20' }
                    ]">
                </b-form-select>
            </div>
        </div>
    </div>
</div>
</template>
<script setup>
    import { watch,ref,onMounted, computed } from 'vue';
    import { useStore } from 'vuex';
    const store = useStore()
    const pokemones_list_one = computed(() => store.state.list)
    const pokemones_list_two = computed(() => store.state.list_two)
    const next = computed(() => store.state.next_url)
    const prev = computed(() => store.state.prev_url)
    const perPage = ref(10)
    const currentPage = ref(1)
    const total = computed(() => store.state.total)
    const loading = computed(() => store.getters.IS_LOADING);
    const deleted = ref([])
    const favorites = computed(() => {
        return store.state.favorites})

    watch(() => currentPage.value, (newValue) => {
        store.dispatch('getPokemones',{page: newValue,limit:perPage.value,list:'list_two'})
    });
    const nextPokemon = function (){
        if(store.state.next_url)
            store.dispatch('getPokemones',{next_url: store.state.next_url,list:'list_one'})
    }
    const prevPokemon = function (){
        if(store.state.prev_url)
            store.dispatch('getPokemones',{next_url: store.state.prev_url,list:'list_one'})
    }
    const addFavorite = function (pokemon){
            store.dispatch('addFavorites',pokemon)
    }
    const verifyFavorite = function (pokemon){
            let is_favorite = favorites.value.find(function (data){
                return data.id == pokemon.id                            
            })
            return is_favorite
    }
    const deletedPokemon = function (pokemon){
        console.log(pokemon,'gg');
        deleted.value.push(pokemon.pokemon.id)  
    }
     const pagFilter = function (event){
        perPage.value = event;
        store.dispatch('getPokemones',{page: 1,limit:perPage.value,list:'list_two'})
    }
    onMounted(async()=>{
        await store.dispatch('getPokemones',{list:'list_one'})
        await store.dispatch('getPokemones',{list:'list_two',limit:perPage})

    })
</script>
<style>
.table>tbody{
    vertical-align: middle;
}
.input-wrapper {
  position: relative;
}

.img-favorites{
    width: 80px;
}
@media (min-width: 1024px) {
  .about {
    min-height: 100vh;
    align-items: center;
  }
}
</style>
