@import './base.css';

#app {
  width: 100%;
  margin: 0 auto;

  font-weight: normal;
}
div#app {
  padding: 0;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}
.list-pokemon {
  border: 1px solid gray;
  border-radius: 6px;
  position: relative;
  width: auto;
  margin: 10px;
  padding: 1rem;
  line-height: 6ex;
}
.input-wrapper {
  position: relative;
}
label {
  position: absolute;
  top:-0.8rem;
  z-index: 1;
  left: 2em;
  background-color: white;
  padding: 0 5px;
}
.list-pokemon img{
  width: 150px;
}
