<script setup>
import { RouterLink, RouterView } from 'vue-router'
import HelloWorld from './components/HelloWorld.vue'
</script>

<template>
  <header>
    <nav class="py-2 border-bottom nav-col">
      <div class="container d-flex flex-wrap">
        <ul class="nav me-auto">
          <li class="nav-item"><a href="#" class="nav-link link-dark px-2 text-white" aria-current="page">API-Pokémon</a></li>
        
        </ul>
        <ul class="nav">
          <li class="nav-item"><a @click="$router.push('/')" class="nav-link link-dark px-2 text-white">Inicio</a></li>
          <li class="nav-item"><a @click="$router.push('pokemones')" class="nav-link link-dark px-2 text-white">Pokemones</a></li>
          <li class="nav-item"><a @click="$router.push('favoritos')" class="nav-link link-dark px-2 text-white">Favoritos</a></li>
        </ul>
      </div>
    </nav>
  </header>
<RouterView />
</template>

<style scoped>
.nav-col{
  background-color: #7c7c7c;
}
</style>
